<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoProRetrieve.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <GoProRetrieve.Properties.Settings>
      <setting name="LensCorrectionProgram" serializeAs="String">
        <value>convert</value>
      </setting>
      <setting name="LensCorrectionArgs" serializeAs="String">
        <value>-extent "125%x125%" -gravity center -filter Lagrange -quality 100 {0} -distort Barrel "-0.92578 1.3845 -2.09958" -distort Perspective "1072,1512 0,0 3404,1524 2300,0 3100,2220 2300,1000 1484,2344 0,1000" -gravity northwest -extent "2300x1000" -adaptive-sharpen "1" {1}</value>
      </setting>
      <setting name="CameraKeepAlive" serializeAs="String">
        <value>http://10.5.5.9/gp/gpControl/command/wireless/ap/ssid?ssid=GARAGEGOPRO</value>
      </setting>
      <setting name="CameraListMedia" serializeAs="String">
        <value>http://10.5.5.9/gp/gpMediaList</value>
      </setting>
      <setting name="CameraGetMedia" serializeAs="String">
        <value>http://10.5.5.9:8080/videos/DCIM/{0}</value>
      </setting>
      <setting name="CameraDeleteMedia" serializeAs="String">
        <value>http://10.5.5.9/gp/gpControl/command/storage/delete?p={0}</value>
      </setting>
      <setting name="CameraCapturePhoto" serializeAs="String">
        <value>http://10.5.5.9/gp/gpControl/command/shutter?p=1</value>
      </setting>
      <setting name="CaptureEveryMinutes" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CaptureTotalPhotos" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CaptureWaitBetweenPhotoSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CameraKeepAliveEveryMinutes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CameraCommandsTimeout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CameraDeleteMediaAll" serializeAs="String">
        <value>http://10.5.5.9/gp/gpControl/command/storage/delete/all</value>
      </setting>
      <setting name="CameraCommandsRetriesTotal" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CameraCommandsRetryTimeoutSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DirectoryCaptures" serializeAs="String">
        <value>from_camera</value>
      </setting>
      <setting name="DirectoryOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckDifferencesProgram" serializeAs="String">
        <value>convert</value>
      </setting>
      <setting name="CheckDifferencesArgs" serializeAs="String">
        <value> {0} -evaluate-sequence mean {1}</value>
      </setting>
      <setting name="CompareDifferencesProgram" serializeAs="String">
        <value>compare</value>
      </setting>
      <setting name="CompareDifferencesArgs" serializeAs="String">
        <value>-metric MAE {0} {1} null</value>
      </setting>
      <setting name="CameraSetPhotoMode" serializeAs="String">
        <value>http://10.5.5.9/gp/gpControl/setting/98/1</value>
      </setting>
      <setting name="CameraSetPhotoQuality" serializeAs="String">
        <value>http://10.5.5.9/gp/gpControl/setting/17/0</value>
      </setting>
    </GoProRetrieve.Properties.Settings>
  </userSettings>
</configuration>